gray-darker  = #222
gray-dark    = #333
gray         = #555
gray-light   = #999
gray-lighter = #eee

light = #f0f0f0
light-stroke = 1px solid light

blue = #003a94

notice = desaturate(blue, 80%)
notice-light = lighten(notice, 75%)

// Taken from the logo prototypes
primary         = #a61f2c
primary-orange  = #f17522
primary-red     = #cf1e23

primary-green       = #99cc00
primary-green-dark  = #5ba300
primary-blue        = #0078ad
primary-blue-dark   = #003875
