@import 'mixin'
@import 'colors'
@import 'type'

tick        = 18px

body
  margin      0
  padding     0
  background  #efeeec

a, a:visited
  color       primary-blue-dark

.hidden
  display     none !important

.left
  float       left

.right
  float       right

.clear
  clear       both

@import 'report'
@import 'table'
@import 'split-view'
@import 'navigation'

@import 'width'
@import 'text'
@import 'form'
@import 'buttons'
