sidebar-width = 33%


.split-view
  .main
    margin-right  sidebar-width

  .sidebar
    float         right
    width         sidebar-width

    h1, h2, h3, h4, h5, h6
      color       gray
      text-shadow 1px 1px 1px #fff
