.table
  .row.striped
    background-color  #F3F7F8

  .column
    float             left

  .header-row
    padding-bottom    tick * 0.5
    border-bottom     1px solid gray-lighter
    margin-top        tick * 1
    font-size         16pt

    .column
      font-weight     bold
