.w10
  width:  10%

.w20
  width:  20%

.w25
  width:  25%

.w33
  width:  33%

.w40
  width:  40%

.w50
  width:  50%

.w66
  width:  66%

.w75
  width:  75%

.w100
  width:  100%

.h-full
  height: 100%

.h50px
  height: 50px
